<form action="/bookmarks/<%= @bookmark_id %>/comments" method="post">
  <label for="URL">Add comment:</label><br>
    <input type="text" name="comment">
    <input type="submit" value="Submit">
</form>