<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type='hidden' name='_method' value='PATCH'/>
  <label for="URL">Add new URL:</label><br>
  <input type="text" name="url" value="<%= @bookmark.url %>"><br>
  <label for="URL">Add Title:</label><br>
  <input type="text" name="title" value="<%= @bookmark.title %>"><br>
  <label for="URL">Add Comment:</label><br>
  <input type="text" name="comment" ><br>
  <input type="submit" value="Submit">
</form>