<form action="/bookmarks" method="post">
  <label for="URL">Add new URL:</label><br>
  <input type="text" name="url">
  <label for="URL">Add Title:</label><br>
  <input type="text" name="title">
  <input type="submit" value="Submit">
</form>